section[aria-labelledby="history"] {
    display: grid;
    row-gap: 5vh;
    justify-content: center;
}

section[aria-labelledby="history"] > header {
    width: 64vw;
    margin-top: 5vh;
}

section[aria-labelledby="history"] > section > table {
    width: 64vw;
    margin-bottom: 2vmax;
}