section[aria-labelledby="jouer"] {
    row-gap: 3vh;
    user-select: none;
    display: grid;
    place-items: flex-start;
    place-content: center;
    margin: 0;
    padding: 0;
}

section[aria-labelledby="jouer"] > section button[data-name="quit-game"] {
    --red: #f00;
    background: #fff;
    border: 1px solid var(--red);
    color: var(--red);
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    position: absolute;
    right: 3vw;
    display: none;
}

section[aria-labelledby="jouer"] > section {
    display: grid;
    row-gap: 10vh;
}

section[aria-labelledby="jouer"] > section > p > output[name="word"] {
    font-size: var(--font-size-subtitle);
    line-height: 3;
}

section[aria-labelledby="jouer"] > section > input {
    width: 64ch;
    height: 5vh;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    font-size: var(--font-size-base);
}

section[aria-labelledby="jouer"] > aside > p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: .5rem;
    color: grey;
}

section[aria-labelledby="jouer"] > aside[role="status"] {
    position: relative;
    width: 100%;
    height: 2ch;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div {
    height: 100%;
    width: 100%;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div > div {
    display: flex;
    place-items: center;
    place-content: flex-start;
    column-gap: 5vw;
    /* padding-block: .75rem;
    padding-inline: 1.25rem; */
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div:first-of-type {
    z-index: 2;
    width: calc(var(--progress) * 100%);
    position: relative;
    transition: width 1s linear;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div:first-of-type > div {
    background: #0090C1;
    color: white;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div:last-of-type {
    z-index: 1;
    height: 100%;
    position: absolute;
    inset: 0;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div:last-of-type > div {
    background: #fff;
    color: #000;
}

section[aria-labelledby="jouer"] > aside[role="status"] > div > div > p {
    flex: 0 0 10vw;
}
