html, body, p, ul, li, h1, h2, dialog {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

[hidden] {
    display: none!important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td, table th {
    padding: 0;
}

table > thead > tr > th {
    text-align: left;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

dialog {
    border: 0;
}

dialog > section {
    font-size: 85%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    /* padding: 0; */
}